header {
    height: 70px;
    background-color: cadetblue;
    color: white;
    padding-left: 20px;
    padding-top: 20px;
}

h1 {
    font-size: 100px;
}

.page-name{
    text-align: center;
    color: #f1f1f1;
}

body {
    background-image: url(images/pexels-donaldtong94-133953.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

table {
    border-collapse: collapse;
    margin: 2px 0 0 10px;
    font-size: 0.9em;
}

.read-table {
    min-width: 400px;
    border-radius: 0 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.read-table thead tr {
    background-color: cadetblue;
    color: white;
    text-align: left;
    font-weight: bold;
}

.read-table th,
.read-table td {
    padding: 12px 15px;
}

.read-table tbody tr {
    background-color: white;
    border-bottom: 1px solid #dddddd;
    
}

.read-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.read-table tbody tr:last-of-type {
    border-bottom: 2px solid cadetblue;
}

.add-element{
    color: white;
    background-color: cadetblue;
    margin-left: 10px;
    font-size: large;
    font-weight: bold;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    padding: .2em;
    text-decoration: none;
}

.add-element:hover {
    color: cadetblue;
    background-color: #f1f1f1;
}

.nav-bar ul{
    background-color: #f1f1f1;
    list-style-type: none;
    padding: 0px;
    margin-bottom: 10px;
    text-align: center;
    overflow: hidden;
}

.nav-bar .link-style {
    color: cadetblue;
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 10px;
}

.nav-bar .link-style:hover{
    background-color: cadetblue;
    color: #f1f1f1;
}

.nav-bar li{
    float: left;
    text-align: center;
}